//output:index.html, pretty:true
doctype html
html
  head
    meta(charset='utf-8')
    title twobytes
    link(rel='stylesheet', href='font-awesome/css/font-awesome.min.css')
    link(rel='stylesheet', href='style/style.css')
  body
    header
      div.header-fix
        div.header
          //- Да, я згаю что можно сделать меньше блоков, но я не хочу добавлять margin
          div.header-navigation
            div.logo
              h1.logo-text
                | two
                strong bytes
              p.logo-text_aftr consulting
            ul.nav
                a.nav-item_link.nav-active(href="#") Home
                a.nav-item_link(href="#") About us
                a.nav-item_link(href="#") jobs
                a.nav-item_link(href="#") Client
                a.nav-item_link(href="#") EMPLOYERS
                a.nav-item_link(href="#") Contact us
          div.search
            //- Решаю, что тут буду использовать margin т.к. flex сжимает блоки
            h1.search-text I’m looking for..
            form.header-search-input
              input.header-search-input__email(name='search', required='', value='', placeholder='Enter a Job Description')
              button.header-search-input__sumbit Search
            form.header-search-select
              input.header-check-box#ch1(type='checkbox')
              label.header-check-box__text(for="ch1") Full Time
              input.header-check-box#ch2(type='checkbox')
              label.header-check-box__text(for="ch2") Part Time / Casual / Freelance
              div.select-style
                select.header-selector
                  option.header-selector__option Select your Location
                  option.header-selector__option Somethink
                  option.header-selector__option SomeTks
    div.separator     
    div.find-more-fix
      div.find-more
        h3.find-more__leaders-in_text We’re leaders in
        h1.find-more__create-rec_text Creative Digital Recruitment
        div.find-more__separator
        p.find-more__inf_text Based in Surry Hills, the creative hub of Sydney we are surrounded by creativity and that reflects on the type of jobs we recruit for.
        button.find-more__find_button FIND OUT MORE ABOUT US!
    div.separator     
    div.subscribe-fix
      p.subscribe__text_bef Subscribe to our Job Seeker Mailing List
      form.subscribe__input
        input.subscribe__search(type='text', name='searcher', required='', value='', placeholder='Enter Your Email Address')
        button.subscribe__sumbit
    div.separator
